.footer-hero{
  &__bottom{
    padding-top: 235px;
    margin-top: -198px;
    clip-path: polygon(0 29.5%,100% 11%,100% 100%,0 100%);
  }
}
.form {
  input {
    width: 100%;
    margin-bottom: 20px;
    height: 75px;
    border-radius: 40px;
    border: none;
    padding: 0 40px;
    font: 400 21px/24px "Roboto";
    letter-spacing: .2px;
    color: $black;
    outline: none;

    &::placeholder {
      font: 400 21px/24px "Roboto";
      letter-spacing: .2px;
      color: #a7a7a7;
    }
  }
}