@media (max-width: 420px) {
  .hero-price__discount {
    margin: 0 24px 0 0px;
    width: 89px;
    height: 89px;
  }

  .hero-price__discount-text {
    font: 600 26px/46px Montserrat;
  }

  .hero-product {
    margin-right: 0px;
  }

  .suffering-sticker {
    padding: 22px 17px;
  }

  .advantages-item__top {
    margin-bottom: 50px;
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media (max-width: 390px) {
  .comment-actions {
    margin-left: -90px;
  }

  .comments-answer .comment .comment-user .comment-user__content .comment-actions {
    margin: 10px 0 0 -60px;
  }

  .suffering-sticker__text {
    font: 700 16px/24px Montserrat;
  }

  .reception-decor {
    width: 120px;
    right: 0;
    top: 36%;
  }

  .reception-content__item {
    font: 700 16px/24px Montserrat;
    max-width: 241px;
  }

}

@media (max-width: 375px) {
  .hero-steps__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .hero__subtitle {
    font: 600 18px/24px Montserrat;
  }

  .hero-steps__item-text {
    font: 700 16px/21px Montserrat;
    color: #fff;
  }
}

@media (max-width: 360px) {
  .comment-actions__btn {
    font: 700 14px/19px Roboto;
  }

  .composition-item__text {
    padding-right: 0px;
  }

  .hero-price__old {
    transform: translateX(10px);
  }

  .hero-steps {
    padding-left: 5px;
    padding-right: 0px;
  }

  .link {
    font: 700 22px/30px Montserrat;
  }

  .reception-content__item {
    max-width: 228px;
  }

  .order-steps__item-text {
    padding-right: 0px;
  }
}


@media (max-width:350px) {
  .comments {
    padding: 37px 5px 100px;
  }

  .hero-steps__item-text {
    font: 700 14px/21px Montserrat;
  }
}

@media (max-width:330px) {
  .hero-price__text {
    font: 500 14px/22px Montserrat;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .hero-price__current-text {
    font: 700 54px/56px Montserrat;
  }

  .reception-content__item {
    font: 700 13px/24px Montserrat;
    max-width: 185px;
  }
  .reception-decor {
    top: 42%;
}
}